<div class="document-container container-fluid">
        <h1 class="document-title text-center">Omni Channel Wrapper Code -
          <span class="language-name">Wordpress</span>
        </h1>
        <div class="row document-content-container">
          <div class="col-md-2">
            <div class="document-index">
              <ol>
                <li>
                  <a>Overview</a>
                </li>
                <li>
                  <a>Pre-requisities</a>
                </li>
                <li>
                  <a routerLink="../wrapperWordpressDetail" fragment="stepsImplementation">Steps of Implementation</a>
                  <ul>
                    <li>
                      <a routerLink="../wrapperWordpressDetail" fragment="wrapperFile">Wrapper.php</a>
                    </li>
                    <li>
                      <a routerLink="../wrapperWordpressDetail" fragment="paymentPageFile">PaymentPage.php</a>
                    </li>
                    <li>
                      <a routerLink="../wrapperWordpressDetail" fragment="paymentEnquiryFile">PaymentEnquiry.php</a>
                    </li>
                    <li>
                      <a routerLink="../wrapperWordpressDetail" fragment="cancelRefundFile">CancelRefund.php</a>
                    </li>
                  </ul>
                </li>
              </ol>
            </div>
          </div>
          <div class="col-md-10 document-description-container">
            <section class="document-section overview-container">
              <h2 class="document-section-title">1. Overview</h2>
              <p>
                Wrapper code has three functionalities which are submit payment, payment status enquiry and Order cancel and refund the payment.
                One needs to follow below points to implement these functionalities on merchants side.
              </p>
            </section>
            <section class="document-section overview-container">
              <h2 class="document-section-title">2. Pre-requisities</h2>
              <p>
                Install packages given below inside merchant’s Website code:
              </p>
              <div class="pre-requisit-list-container">
                <ul>
                  <li>"web-token/jwt-framework":"^2.2"</li>
                  <li>"web-token/jwt-key-mgmt": "^2.2"</li>
                </ul>
              </div>
            </section>
            <section class="document-section overview-container" id="stepsImplementation">
              <h2 class="document-section-title">3. Steps of Implementation</h2>
              <p>
                After installation of the packages, need to add four files into the merchant’s project which are related to the payment gateway
                functionalities.
              </p>
              <div class="method-detail" id="wrapperFile">
                <h3 class="file-title">wrapper.php</h3>
                <p>
                  This file is the core file because it contains encryption, decryption, API call and log maintain method functionalities.
                </p>
              </div>
              <div class="method-detail" id="paymentPageFile">
                <h3 class="file-title">PaymentPage.php</h3>
                <p>
                  This file use is to submit the payment for that it required some data from merchant which merchant need to pass as argument
                  in the method mentioned in this file and method name is newPayment.
                </p>
                <h3 class="method-title">newPayment</h3>
                <div class="syntax-container">
                  <h4>Method Syntax</h4>
                  <p>newPayment(txnRef, system, payment, merchant, customer, order, other)</p>
                </div>
                <div class="arguments-detail-container">
                  <h4>Arguments Detail</h4>
                  <div class="arguments-detail">
                    <h5 class="argument-name">txnRef</h5>
                    <ul>
                      <li>This is transaction reference number.</li>
                      <li>It is string data type.</li>
                      <li>This should be unique.</li>
                    </ul>
                  </div>
                  <div class="arguments-detail">
                    <h5 class="argument-name">system </h5>
                    <ul>
                      <li>Data type of this property is JSON object.</li>
                      <li>
                        This property has four properties name as redirectSuccessUrl, redirectFailUrl, redirectCancelUrl, notificationUrl.
                      </li>
                      <li>
                        Format of this property
                        <div class="code-view">
                          <pre>
                            <code [innerHTML]="systemObject"></code>
                          </pre>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="arguments-detail">
                    <h5 class="argument-name">payment </h5>
                    <ul>
                      <li>Data type of this property is JSON object.</li>
                      <li>
                        This property has few properties name as country, currency, amount, payment_option expiry, offers.
                      </li>
                      <li>
                        Format of this property
                        <div class="code-view">
                          <pre>
                            <code [innerHTML]="paymentObject"></code>
                          </pre>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="arguments-detail">
                    <h5 class="argument-name">merchant </h5>
                    <ul>
                      <li>Data type of this property is string.</li>
                      <li>This property is for merchant id.</li>
                    </ul>
                  </div>
                  <div class="arguments-detail">
                    <h5 class="argument-name">customer </h5>
                    <ul>
                      <li>Data type of this property is JSON object</li>
                      <li>
                        This property has four properties which are customer_firstname, customer_lastname, customer_email, customer_phone.
                      </li>
                      <li>
                        Format of this property
                        <div class="code-view">
                          <pre>
                            <code [innerHTML]="customerObject"></code>
                          </pre>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="arguments-detail">
                    <h5 class="argument-name">order </h5>
                    <ul>
                      <li>Data type of this property is JSON object.</li>
                      <li>This property has two properties named as description and descriptions.</li>
                      <li>
                        Format of this property
                        <div class="code-view">
                          <pre>
                            <code [innerHTML]="orderObject"></code>
                          </pre>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="arguments-detail">
                    <h5 class="argument-name">other </h5>
                    <ul>
                      <li>Data type of this property is JSON object.</li>
                      <li>
                        Format of this property
                        <div class="code-view">
                          <pre>
                            <code [innerHTML]="otherObject"></code>
                          </pre>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="method-detail" id="paymentEnquiryFile">
                <h3 class="file-title">PaymentEnquiry.php</h3>
                <p>
                  This file use is to do the payment enquiry and to do payment enquiry merchant need to pass some details as argument to the
                  method mentioned in this file and method name is paymentEnquiry.
                </p>
                <h3 class="method-title">paymentEnquiry</h3>
                <div class="syntax-container">
                  <h4>Method Syntax</h4>
                  <p>paymentEnquiry(txnRef, merchant)</p>
                </div>
                <div class="arguments-detail-container">
                  <h4>Arguments Detail</h4>
                  <div class="arguments-detail">
                    <h5 class="argument-name">txnRef</h5>
                    <ul>
                      <li>This is transaction reference number.</li>
                      <li>It is string data type.</li>
                    </ul>
                  </div>
                  <div class="arguments-detail">
                    <h5 class="argument-name">merchant </h5>
                    <ul>
                      <li>This property is for merchant id.</li>
                      <li>Data type of this property is string</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="method-detail" id="cancelRefundFile">
                <h3 class="file-title">CancelRefund.php</h3>
                <p>
                  This file use is to do the payment cancel refund and to do payment cancel merchant need to pass some details as argument
                  to the method mentioned in this file and method name is paymentCancellation.
                </p>
                <h3 class="method-title">paymentCancellation</h3>
                <div class="syntax-container">
                  <h4>Method Syntax</h4>
                  <p>paymentCancellation(refundNotificationURL, txnRef, rfdRef, amount, currency, merId)</p>
                </div>
                <div class="arguments-detail-container">
                  <h4>Arguments Detail</h4>
                  <div class="arguments-detail">
                    <h5 class="argument-name">refundNotificationURL </h5>
                    <ul>
                      <li>This property data type is string</li>
                    </ul>
                  </div>
                  <div class="arguments-detail">
                    <h5 class="argument-name">txnRef </h5>
                    <ul>
                      <li>This property data type is string</li>
                      <li>Property value should be transaction reference number.</li>
                    </ul>
                  </div>
                  <div class="arguments-detail">
                    <h5 class="argument-name">rfdRef</h5>
                    <ul>
                      <li>This property data type is string</li>
                      <li>This is refund number and it must be unique against every refund transaction.</li>
                    </ul>
                  </div>
                  <div class="arguments-detail">
                    <h5 class="argument-name">amount</h5>
                    <ul>
                      <li>This property data type is number</li>
                      <li>Value of this property should be refund amount</li>
                    </ul>
                  </div>
                  <div class="arguments-detail">
                    <h5 class="argument-name">currency </h5>
                    <ul>
                      <li>This property data type is string</li>
                      <li>Mentioned currency type against this property.</li>
                    </ul>
                  </div>
                  <div class="arguments-detail">
                    <h5 class="argument-name">merId</h5>
                    <ul>
                      <li>This property data type is string</li>
                      <li>Value should be merchant id.</li>
                    </ul>
                  </div>
                </div>
              </div>
            </section>
          </div>
        </div>
      </div>