<div class="container">
    <div class="sysbrij-auth-container">
        <h1 class="sysbrij-auth-container-title">Sysbrij Deployment</h1>
        <div class="sysbrij-auth-sub-container">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Email Address</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="">Authorization Code</label>
                        <input type="text" class="form-control" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-primary" value="Enter" />&nbsp;
                        <input type="submit" class="btn btn-danger" value="Cancel" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>