<h2 class="page-title">My Workflows</h2>
<div class="report-list-container">
    <table  class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Workflow No</th>
                <th>Status</th>
                <th>Customer Name</th>
                <th>Customer Contact</th>
                <th>Integration Manager</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let myworkflow of myworkflowsList">
                <td>{{myworkflow.WorKFlowNo}}</td>
                <td>{{myworkflow.WFStatus}}</td>
                <td>{{myworkflow.CustomerName}}</td>
                <td>{{myworkflow.CustomerContact}}</td>
                <td>{{myworkflow.IntegrationManager}}</td>
                <td>
                    <input type="submit" class="btn-success" value="edit" />&nbsp;
                    <input type="submit" class="btn-warning" value="view" />
                </td>
            </tr>
        
        </tbody>
    </table>
</div>