<h2 class="page-title">My Workflows</h2>
<div class="report-list-container">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Workflow No</th>
                <th>Status</th>
                <th>Customer Name</th>
                <th>Customer Contact</th>
                <th>Integration Manager</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1</td>
                <td>Active</td>
                <td>Ravi Jadhav</td>
                <td>9856369854</td>
                <td>Sachin Sakpal</td>
                <td>
                    <input type="submit" class="btn-success" value="edit" />&nbsp;
                    <input type="submit" class="btn-warning" value="view" />
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Active</td>
                <td>Ravi Jadhav</td>
                <td>9856369854</td>
                <td>Sachin Sakpal</td>
                <td>
                    <input type="submit" class="btn-success" value="edit" />&nbsp;
                    <input type="submit" class="btn-warning" value="view" />
                </td>
            </tr>
            <tr>
                <td>1</td>
                <td>Active</td>
                <td>Ravi Jadhav</td>
                <td>9856369854</td>
                <td>Sachin Sakpal</td>
                <td>
                    <input type="submit" class="btn-success" value="edit" />&nbsp;
                    <input type="submit" class="btn-warning" value="view" />
                </td>
            </tr>
        </tbody>
    </table>
</div>