<br>
<div class="container-fluid">
    <div class="pdf-container">
        <h3 class="text-center">Workflow Details</h3>
        <div class="row">
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Customer Data</h4>
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Customer Name</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerData.customerName}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Profile ID with Bank</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerData.profileIdWithBank}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Building No</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerData.buildingNo}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Town Name</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerData.townName}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Postal Code</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerData.postalCode}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Country</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerData.country}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Customer Contact</h4>
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Contact Name</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerContat.contactName}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Email</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerContat.email}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Mobile No</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerContat.mobileNo}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Phone No</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerContat.phoneNo}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Customer Entities</h4>
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Entity Name</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerEntities.name}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Entity Account No with Bank</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerEntities.accountNoWithBank}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Building No</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerEntities.buildingNo}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Town Name</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerEntities.townName}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Postal Code</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerEntities.postalCode}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Country</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerEntities.country}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Customer ERP Details</h4>
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Customer ERP Name / Version</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerERPDetails.nameOrVersion}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Any other ERP Details</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerERPDetails.erpDetails}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Customer Requiremets</h4>
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Input File Mapping</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerRequirnments.inputFileMapping}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Input File Transformation</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerRequirnments.inputfileTransformation}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Input File Type</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerRequirnments.inputFileType}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">File Encryption</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerRequirnments.fileEncryption}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">H2H Encryption</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerRequirnments.h2hEncryption}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Payment Types ( Forward Flow)</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerRequirnments.paymentTypesForDForward}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Installation Machine Details - UAT/Test</h4>
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Where will SysBRIJ be installed</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.whereSysbrijWillInstalled}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">How Many installations needed?</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.noOfInstallation}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Server Type</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.serverType}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">IP Address - Public/ Private</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.ipAddress}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Server OS Version</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.serverOsVersion}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Is this Machine connected to Bank System?</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.isMachineConnectedToBankSystem}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Input File Folder Path</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.inputFileFolderPath}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Input File Folder Name</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.inputFileFolderName}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Is This machine Internet Enabled</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.isMachineInternateEnabled}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Does It have any firewall restrictions?</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.anyFirewallRestriction}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">If YES, then specify</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.firewallRestrictionDetails}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Can we install software remotely on this m/c?</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.installSoftwareRemotely}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Remote Access Method</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.remoteAccessMethod}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Specify any Other </label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.moreDetails}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Installation Machine Details - Production</h4>
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Where will SysBRIJ be installed</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.whereSysbrijWillInstalled}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">How Many installations needed?</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.noOfInstallation}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Server Type</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.serverType}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">IP Address - Public/ Private</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.ipAddress}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Server OS Version</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.serverOsVersion}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Is this Machine connected to Bank System?</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.isMachineConnectedToBankSystem}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Input File Folder Path</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.inputFileFolderPath}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Input File Folder Name</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.inputFileFolderName}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Is This machine Internet Enabled</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.isMachineInternateEnabled}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Does It have any firewall restrictions?</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.anyFirewallRestriction}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">If YES, then specify</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.firewallRestrictionDetails}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Can we install software remotely on this m/c?</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.installSoftwareRemotely}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Remote Access Method</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.remoteAccessMethod}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Specify any Other </label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.moreDetails}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">User List</h4>
                <div class="form-container">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Mobile</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor = "let user of workflowDetailObject.workflowForm2.customerUserList;">
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.address}}</td>
                                <td>{{user.mobile}}</td>
                                <td>{{user.role}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Sender Email Data</h4>
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Email Id</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.senderEmailData.emailId}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Email Password</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.senderEmailData.emailPassword}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">SMTP Host</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.senderEmailData.smtpHost}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">SMTP Port</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.senderEmailData.smtpPort}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Receiver Emails</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.senderEmailData.receiverEmail}}</p>
                        </div>
                    </div>
                    
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Batch Job Details</h4>
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Batch Jobs Frequency</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.batchJobDetails.frequency}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Can vendor Setup Batch jobs on yoursever?</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.batchJobDetails.setupBatchJobOnYourServer}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Current Status / Notes</h4>
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Current Status / Notes</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.workflowStatusNotes}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
