<br>
<div class="container-fluid">
    <div class="pdf-container">
        <h3 class="text-center">Workflow Details <span style="font-size: 16px">[ Workflow No - {{workflowDetailObject.workflowNo}} ]</span></h3>
        <div class="row">
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Customer Data</h4>
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Customer Name</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerData.customerName}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Profile ID with Bank</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerData.profileIdWithBank}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Building No</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerData.buildingNo}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Town Name</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerData.townName}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Postal Code</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerData.postalCode}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Country</label>
                        </div>
                        <div class="col-xs-7">
                            <p *ngIf = "workflowDetailObject.workflowForm2.customerData.country == '1'">India</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Customer Contact</h4>
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Contact Name</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerContat.contactName}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Email</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerContat.email}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Mobile No</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerContat.mobileNo}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Phone No</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerContat.phoneNo}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Customer Entities</h4>
                <div class="form-container">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Account No</th>
                                <th>Building No</th>
                                <th>Town Name</th>
                                <th>Postal Code</th>
                                <th>Country</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let entity of workflowDetailObject.workflowForm2.customerEntitiesList">
                                <td>{{entity.name}}</td>
                                <td>{{entity.accountNoWithBank}}</td>
                                <td>{{entity.buildingNo}}</td>
                                <td>{{entity.townName}}</td>
                                <td>{{entity.postalCode}}</td>
                                <td>{{entity.country}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Customer ERP Details</h4>
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Customer ERP Name / Version</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerERPDetails.nameOrVersion}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Any other ERP Details</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.customerERPDetails.erpDetails}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Customer Requiremets</h4>
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Input File Mapping</label>
                        </div>
                        <div class="col-xs-7">
                            <p *ngIf="workflowDetailObject.workflowForm2.customerRequirnments.inputFileMapping == 1 else ifm">Yes</p>
                            <ng-template #ifm>No</ng-template>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Input File Transformation</label>
                        </div>
                        <div class="col-xs-7">
                            <p *ngIf="workflowDetailObject.workflowForm2.customerRequirnments.inputfileTransformation == 1 else ift">Yes</p>
                            <ng-template #ift>No</ng-template>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Input File Type</label>
                        </div>
                        <div class="col-xs-7">
                            <div [ngSwitch]="workflowDetailObject.workflowForm2.customerRequirnments.inputFileType">
                                <p *ngSwitchCase="1">XLS</p>
                                <p *ngSwitchCase="2">XLSX</p>
                                <p *ngSwitchCase="3">TXT</p>
                                <p *ngSwitchCase="4">XML</p>
                                <p *ngSwitchCase="5">BANK Approved XML Format</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">File Encryption</label>
                        </div>
                        <div class="col-xs-7">
                            <div [ngSwitch]="workflowDetailObject.workflowForm2.customerRequirnments.fileEncryption">
                                <p *ngSwitchCase="1">Forward</p>
                                <p *ngSwitchCase="2">Reverse</p>
                                <p *ngSwitchCase="3">Both</p>
                                <p *ngSwitchCase="4">Not Required</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">H2H Encryption</label>
                        </div>
                        <div class="col-xs-7">
                            <div [ngSwitch]="workflowDetailObject.workflowForm2.customerRequirnments.h2hEncryption">
                                <p *ngSwitchCase="1">Forward</p>
                                <p *ngSwitchCase="2">Reverse</p>
                                <p *ngSwitchCase="3">Both</p>
                                <p *ngSwitchCase="4">Not Required</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Payment Types ( Forward Flow)</label>
                        </div>
                        <div class="col-xs-7">
                            <div [ngSwitch]="workflowDetailObject.workflowForm2.customerRequirnments.paymentTypesForDForward">
                                <p *ngSwitchCase="1">NEFT</p>
                                <p *ngSwitchCase="2">RTGS</p>
                                <p *ngSwitchCase="3">Bulkpay</p>
                                <p *ngSwitchCase="4">IMPS</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Installation Machine Details - UAT/Test</h4>
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Where will SysBRIJ be installed</label>
                        </div>
                        <div class="col-xs-7">
                            <div [ngSwitch]="workflowDetailObject.workflowForm2.installationMachineUATDetails.whereSysbrijWillInstalled">
                                <p *ngSwitchCase="1">Windows</p>
                                <p *ngSwitchCase="2">Server</p>
                                <p *ngSwitchCase="3">Laptop</p>
                                <p *ngSwitchCase="4">Desktop</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">How Many installations needed?</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.noOfInstallation}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Server Type</label>
                        </div>
                        <div class="col-xs-7">
                            <div [ngSwitch]="workflowDetailObject.workflowForm2.installationMachineUATDetails.serverType">
                                <p *ngSwitchCase="1">Windows</p>
                                <p *ngSwitchCase="2">Linux</p>
                                <p *ngSwitchCase="3">NA</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">IP Address - Public/ Private</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.ipAddress}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Server OS Version</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.serverOsVersion}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Is this Machine connected to Bank System?</label>
                        </div>
                        <div class="col-xs-7">
                            <div [ngSwitch]="workflowDetailObject.workflowForm2.installationMachineUATDetails.isMachineConnectedToBankSystem">
                                <p *ngSwitchCase="1">Yes</p>
                                <p *ngSwitchCase="2">No</p>
                                <p *ngSwitchCase="3">NA</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Input File Folder Path</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.inputFileFolderPath}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Input File Folder Name</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.inputFileFolderName}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Is This machine Internet Enabled</label>
                        </div>
                        <div class="col-xs-7">
                            <div [ngSwitch]="workflowDetailObject.workflowForm2.installationMachineUATDetails.isMachineInternateEnabled">
                                <p *ngSwitchCase="1">Yes</p>
                                <p *ngSwitchCase="2">No</p>
                                <p *ngSwitchCase="3">NA</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Does It have any firewall restrictions?</label>
                        </div>
                        <div class="col-xs-7">
                            <div [ngSwitch]="workflowDetailObject.workflowForm2.installationMachineUATDetails.anyFirewallRestriction">
                                <p *ngSwitchCase="1">Yes</p>
                                <p *ngSwitchCase="2">No</p>
                                <p *ngSwitchCase="3">NA</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">If YES, then specify</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.firewallRestrictionDetails}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Can we install software remotely on this m/c?</label>
                        </div>
                        <div class="col-xs-7">
                            <div [ngSwitch]="workflowDetailObject.workflowForm2.installationMachineUATDetails.installSoftwareRemotely">
                                <p *ngSwitchCase="1">Yes</p>
                                <p *ngSwitchCase="2">No</p>
                                <p *ngSwitchCase="3">NA</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Remote Access Method</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.remoteAccessMethod}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Specify any Other </label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineUATDetails.moreDetails}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Installation Machine Details - Production</h4>
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Where will SysBRIJ be installed</label>
                        </div>
                        <div class="col-xs-7">
                            <div [ngSwitch]="workflowDetailObject.workflowForm2.installationMachineProductionDetails.whereSysbrijWillInstalled">
                                <p *ngSwitchCase="1">Windows</p>
                                <p *ngSwitchCase="2">Server</p>
                                <p *ngSwitchCase="3">Laptop</p>
                                <p *ngSwitchCase="4">Desktop</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">How Many installations needed?</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.noOfInstallation}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Server Type</label>
                        </div>
                        <div class="col-xs-7">
                            <div [ngSwitch]="workflowDetailObject.workflowForm2.installationMachineProductionDetails.serverType">
                                <p *ngSwitchCase="1">Windows</p>
                                <p *ngSwitchCase="2">Linux</p>
                                <p *ngSwitchCase="3">NA</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">IP Address - Public/ Private</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.ipAddress}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Server OS Version</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.serverOsVersion}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Is this Machine connected to Bank System?</label>
                        </div>
                        <div class="col-xs-7">
                            <div [ngSwitch]="workflowDetailObject.workflowForm2.installationMachineProductionDetails.isMachineConnectedToBankSystem">
                                <p *ngSwitchCase="1">Yes</p>
                                <p *ngSwitchCase="2">No</p>
                                <p *ngSwitchCase="3">NA</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Input File Folder Path</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.inputFileFolderPath}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Input File Folder Name</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.inputFileFolderName}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Is This machine Internet Enabled</label>
                        </div>
                        <div class="col-xs-7">
                            <div [ngSwitch]="workflowDetailObject.workflowForm2.installationMachineProductionDetails.isMachineInternateEnabled">
                                <p *ngSwitchCase="1">Yes</p>
                                <p *ngSwitchCase="2">No</p>
                                <p *ngSwitchCase="3">NA</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Does It have any firewall restrictions?</label>
                        </div>
                        <div class="col-xs-7">
                            <div [ngSwitch]="workflowDetailObject.workflowForm2.installationMachineProductionDetails.anyFirewallRestriction">
                                <p *ngSwitchCase="1">Yes</p>
                                <p *ngSwitchCase="2">No</p>
                                <p *ngSwitchCase="3">NA</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">If YES, then specify</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.firewallRestrictionDetails}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Can we install software remotely on this m/c?</label>
                        </div>
                        <div class="col-xs-7">
                            <div [ngSwitch]="workflowDetailObject.workflowForm2.installationMachineProductionDetails.installSoftwareRemotely">
                                <p *ngSwitchCase="1">Yes</p>
                                <p *ngSwitchCase="2">No</p>
                                <p *ngSwitchCase="3">NA</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Remote Access Method</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.remoteAccessMethod}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Specify any Other </label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.installationMachineProductionDetails.moreDetails}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">User List</h4>
                <div class="form-container">
                    <table class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Address</th>
                                <th>Mobile</th>
                                <th>Role</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let user of workflowDetailObject.workflowForm2.customerUserList;">
                                <td>{{user.name}}</td>
                                <td>{{user.email}}</td>
                                <td>{{user.address}}</td>
                                <td>{{user.mobile}}</td>
                                <td>{{user.role}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Sender Email Data</h4>
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Email Id</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.senderEmailData.emailId}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Email Password</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.senderEmailData.emailPassword}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">SMTP Host</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.senderEmailData.smtpHost}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">SMTP Port</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.senderEmailData.smtpPort}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Receiver Emails</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.senderEmailData.receiverEmail}}</p>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Batch Job Details</h4>
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Batch Jobs Frequency</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.batchJobDetails.frequency}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Can vendor Setup Batch jobs on yoursever?</label>
                        </div>
                        <div class="col-xs-7">
                            <div [ngSwitch]="workflowDetailObject.workflowForm2.batchJobDetails.setupBatchJobOnYourServer">
                                <p *ngSwitchCase="1">Yes</p>
                                <p *ngSwitchCase="2">No</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12">
                <h4 class="sub-tab-heading">Current Status / Notes</h4>
                <div class="form-container">
                    <div class="row">
                        <div class="col-xs-5">
                            <label for="">Current Status / Notes</label>
                        </div>
                        <div class="col-xs-7">
                            <p>{{workflowDetailObject.workflowForm2.workflowStatusNotes}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>