<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-left">
            <li *ngIf="accessCode == '99' || accessCode == '90'" routerLinkActive="active">
                <a routerLink="sysbrijDeploymentDashboard">Deployment Dashboard</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="sysbrijHelpFiles">Help Files</a>
            </li>
            <li routerLinkActive="active">
                <a routerLink="sysbrijMyWorkflows">My Workflows</a>
            </li>
            <li *ngIf="accessCode == '99' || accessCode == '90' || accessCode == '80'" routerLinkActive="active">
                <a [routerLink]="['sysbrijStartNewDeployment', '','']">Start New Deployment</a>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right" style="background-color: #333">
            <li>
                <p class="navbar-text">User : {{userName}}</p>
            </li>
            <li>
                <p class="navbar-text">Company : {{userCompany}}</p>
            </li>
            <li>
                <button class="btn btn-danger navbar-btn" routerLink="LogOut" (click)="onLogout()">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                </button>
            </li>
        </ul>
    </div>
</nav>