<div class="container">
    <div class="text-center help-files left-div">
        <h3 data-toggle="collapse" href="#helpfiles" class="tab-heading">All Help Files</h3>
        <div id="helpfiles">
            <table class="table">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Download Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Help File 1</th>
                        <td><a href="">Click here</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Help File 2</th>
                        <td><a href="">Click here</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Help File 3</th>
                        <td><a href="">Click here</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Help File 4</th>
                        <td><a href="">Click here</a></td>
                    </tr>
                </tbody>
                
            </table>
        </div>
    </div>
    <div class="text-center test-files right-div">
        <h3 data-toggle="collapse" href="#testfiles" class="tab-heading">All Test Files</h3>
        <div id="testfiles">
            <table class="table">
                <thead>
                    <tr>
                        <th>File Name</th>
                        <th>Download Link</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">Test File 1</th>
                        <td><a href="">Click here</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Test File 2</th>
                        <td><a href="">Click here</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Test File 3</th>
                        <td><a href="">Click here</a></td>
                    </tr>
                    <tr>
                        <th scope="row">Test File 4</th>
                        <td><a href="">Click here</a></td>
                    </tr>
                </tbody>
        
            </table>
        </div>
    </div>
</div>