<h2 class="page-title">Help Files</h2>
<div class="row">
    <div class="col-md-6">
        <div class="help-folder-section">
            <div data-toggle="collapse" href="#helpfiles" class="help-folder-btn text-center">
                <div class="img-container">
                    <img src="../../assets/images/folder.png" alt="sysbrij logo" />
                </div>
                <h3>All Help Files</h3>
            </div>
            <br>
            <div id="helpfiles" class="collapse report-list-container">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let HelpFile of HelpFileList">
                            <td>{{HelpFile.FileName}}</td>
                            <td> <a (click)="downloadHelpFile(HelpFile.FileName)" class="btn btn-success" >Download</a> </td>
                        </tr>
                       
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="help-folder-section">
            <div data-toggle="collapse" href="#testfiles" class="help-folder-btn text-center">
                <div class="img-container">
                    <img src="../../assets/images/folder.png" alt="sysbrij logo" />
                </div>
                <h3>All Test Files</h3>
            </div>
            <br>
            <div id="testfiles" class="collapse report-list-container">
                <table class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>File Name</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let TestFile of TestFileList">
                            <td>{{TestFile.FileName}}</td>
                            <td> <a (click)="downloadTestFile(TestFile.FileName)" class="btn btn-success">Download</a> </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>