<h2 class="page-title">Start New Deployment</h2>
<ul>
  <li>
    <h3 data-toggle="collapse" href="#form-1" class="tab-heading">Form 1</h3>
    <div id="form-1">
      <div class="row">
        <div class="col-md-6">
          <h4 class="sub-tab-heading">10- Requestor Data</h4>
          <div class="form-container">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Your Name</label>
                  <input [(ngModel)]="workflowRegisterModel.hsbcPersonName" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Integration Manager Name</label>
                  <input [(ngModel)]="workflowRegisterModel.hsbcIntegrationManagerName" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Integration Manager Email</label>
                  <input [(ngModel)]="workflowRegisterModel.hsbcIntegrationManagerEmail" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Mobile</label>
                  <input [(ngModel)]="workflowRegisterModel.hsbcmobileNo" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Date</label>
                      <input [(ngModel)]="workflowRegisterModel.date" type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Status</label>
                      <input [(ngModel)]="workflowRegisterModel.status" type="text" class="form-control" disabled/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="sub-tab-heading">Assign to Customer</h4>
          <div class="form-container">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Company Name</label>
                  <input [(ngModel)]="workflowRegisterModel.companyName" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Contact Name</label>
                  <input [(ngModel)]="workflowRegisterModel.companyContactName" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Contact Email</label>
                  <input [(ngModel)]="workflowRegisterModel.companyEmail" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Contact Mobile</label>
                  <input [(ngModel)]="workflowRegisterModel.companyContactNo" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <label for="">Assign WF to Customer Contact </label>
                      <select [(ngModel)]="workflowRegisterModel.assignWorkflowToCompanyContact" class="form-control">
                        <option value="">Select</option>
                        <option value=true>Yes</option>
                        <option value=false>No</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="">Send Email With Auth Code</label>
                      <select [(ngModel)]="workflowRegisterModel.sendEmailWithAuthCode" class="form-control">
                        <option value="">Select</option>
                        <option value=true>Yes</option>
                        <option value=false>No</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group">
                      <label for="">Authorization Code</label>
                      <input [(ngModel)]="workflowRegisterModel.AuthorizationCode" type="text" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="form-submit-container text-right">
        <div class="form-group">
          <input type="submit" (click)="workflowRegister()" class="btn btn-success" /> &nbsp;
          <input type="submit" class="btn btn-danger" value="Cancel" />
        </div>
      </div>
    </div>
  </li>
  <li>
    <h3 data-toggle="collapse" href="#form-2" class="tab-heading">Form 2</h3>
    <div class="collapse" id="form-2">
      <div class="row">
        <div class="col-md-6">
          <h4 class="sub-tab-heading">Customer Data</h4>
          <div class="form-container">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Customer Name</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Profile ID with Bank</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Building Number</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="">Town Name</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="">Postal Code</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="">Country</label>
                      <select class="form-control">
                        <option value="">Select</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="sub-tab-heading">Customer Contact</h4>
          <div class="form-container">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Customer Name</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Email</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Mobile No</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Phone No</label>
                  <input type="text" class="form-control" />
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <h4 class="sub-tab-heading">Customer Entities</h4>
          <div class="form-container">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Entity Name</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Entity Account Number with Bank </label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Building Number</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Town Name</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Postal Code</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Country</label>
                      <select class="form-control">
                        <option value="">Select</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <h4 class="sub-tab-heading">Customer ERP Details</h4>
              <div class="form-container">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="">Customer ERP Name / Version</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="">Any other ERP Details</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <h4 class="sub-tab-heading">Customer Requiremets</h4>
              <div class="form-container">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="">Input File Mapping</label>
                      <select class="form-control">
                        <option value="">Select</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="">Input File Transformation</label>
                      <select class="form-control">
                        <option value="">Select</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="">Input File Type</label>
                      <select class="form-control">
                        <option value="">Select</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="">File Encryption</label>
                      <select class="form-control">
                        <option value="">Select</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="">H2H Encryption</label>
                      <select class="form-control">
                        <option value="">Select</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="">Payment Types ( Forward Flow)</label>
                      <select class="form-control">
                        <option value="">Select</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <h4 class="sub-tab-heading">Installation Machine Details-- UAT/ Test</h4>
          <div class="form-container">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Where will SysBRIJ be installed</label>
                  <select class="form-control">
                    <option value="">Select</option>
                    <option value="">Windows</option>
                    <option value="">Server</option>
                    <option value="">Laptop</option>
                    <option value="">Desktop</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">How Many installations needed?</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Server Type</label>
                  <select class="form-control">
                    <option value="">Select</option>
                    <option value="">Windows</option>
                    <option value="">Linux</option>
                    <option value="">NA</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">IP Address - Public/ Private</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Server OS Version</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Is this Machine connected to Bank System?</label>
                  <select class="form-control">
                    <option value="">Select</option>
                    <option value="">Yes</option>
                    <option value="">No</option>
                    <option value="">NA</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Input File Folder Path</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Input File Folder Name</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Is This machine Internet Enabled</label>
                  <select class="form-control">
                    <option value="">Select</option>
                    <option value="">Yes</option>
                    <option value="">No</option>
                    <option value="">NA</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Does It have any firewall restrictions?</label>
                  <select class="form-control">
                    <option value="">Select</option>
                    <option value="">Yes</option>
                    <option value="">No</option>
                    <option value="">NA</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">If YES, then specify</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Can we install software remotely on this m/c?</label>
                  <select class="form-control">
                    <option value="">Select</option>
                    <option value="">Yes</option>
                    <option value="">No</option>
                    <option value="">NA</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Remote Access Method</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Specify any Other </label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="sub-tab-heading">Installation Machine Details-- Production</h4>
          <div class="form-container">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Where will SysBRIJ be installed</label>
                  <select class="form-control">
                    <option value="">Select</option>
                    <option value="">Windows</option>
                    <option value="">Server</option>
                    <option value="">Laptop</option>
                    <option value="">Desktop</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">How Many installations needed?</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Server Type</label>
                  <select class="form-control">
                    <option value="">Select</option>
                    <option value="">Windows</option>
                    <option value="">Linux</option>
                    <option value="">NA</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">IP Address - Public/ Private</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Server OS Version</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Is this Machine connected to Bank System?</label>
                  <select class="form-control">
                    <option value="">Select</option>
                    <option value="">Yes</option>
                    <option value="">No</option>
                    <option value="">NA</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Input File Folder Path</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Input File Folder Name</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Is This machine Internet Enabled</label>
                  <select class="form-control">
                    <option value="">Select</option>
                    <option value="">Yes</option>
                    <option value="">No</option>
                    <option value="">NA</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Does It have any firewall restrictions?</label>
                  <select class="form-control">
                    <option value="">Select</option>
                    <option value="">Yes</option>
                    <option value="">No</option>
                    <option value="">NA</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">If YES, then specify</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Can we install software remotely on this m/c?</label>
                  <select class="form-control">
                    <option value="">Select</option>
                    <option value="">Yes</option>
                    <option value="">No</option>
                    <option value="">NA</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Remote Access Method</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Specify any Other </label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <h4 class="sub-tab-heading">SysBRIJ User List</h4>
          <div class="form-container">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Name</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Email</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Address</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Mobile</label>
                      <input type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Role</label>
                      <select class="form-control">
                        <option value="">Select</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group text-right">
                  <input type="submit" class="btn btn-primary" value="Add to Cart" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="sub-tab-heading">Sender Email Data</h4>
          <div class="form-container">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Email ID</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Email Password</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">SMTP Host</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">SMTP Port</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Receiver Emails</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <h4 class="sub-tab-heading">Batch Job Details</h4>
          <div class="form-container">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Batch Jobs Frequency</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Can vendor Setup Batch jobs on yoursever?</label>
                  <input type="text" class="form-control" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="sub-tab-heading">Current Status / Notes</h4>
          <div class="form-container">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Current Status / Notes</label>
                  <textarea class="form-control" rows="5"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="form-submit-container text-right">
        <div class="form-group">
          <input type="submit" value="Save Only" class="btn btn-success" /> &nbsp;
          <input type="submit" value="Submit to Deploy" class="btn btn-primary" />
        </div>
      </div>
    </div>
  </li>
  <li>
    <h3 data-toggle="collapse" href="#form-3" class="tab-heading">Deployment Section</h3>
    <div class="collapse" id="form-3">
      <div class="form-container">
        <form action="">
          <div class="row">
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Workflow Status</label>
                <select class="form-control">
                  <option value="">Select</option>
                </select>
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Assign To</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Name</label>
                <input type="text" class="form-control">
              </div>
            </div>
            <div class="col-md-3">
              <div class="form-group">
                <label for="">Email</label>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="form-submit-container text-right">
            <div class="form-group">
              <input type="submit" value="Save" class="btn btn-success" />
            </div>
          </div>
        </form>
      </div>
    </div>
  </li>
</ul>