.tab-heading {
    margin: 0 0 10px 0;
    background: #222222;
    padding: 7px 10px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.form-container {
    padding: 15px;
    background: white;
}

.sub-tab-heading {
    padding: 6px;
    margin: 0;
    background: #000;
    color: #fff;
    font-size: 14px;
}