<h2 class="page-title">Start New Deployment</h2>
<ul>
  <li style="position: relative;">
    <h3 data-toggle="collapse" href="#form-1" class="tab-heading">Customer Data</h3>
    <button class="btn-info" data-toggle="modal" data-target="#customerDataDetails"><i class="fa fa-info-circle" aria-hidden="true"></i></button> 
    <div id="form-1">
      <div class="row">
        <div class="col-md-6">
          <h4 class="sub-tab-heading">Requestor Data</h4>
          <div class="form-container">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Your Name</label>
                  <input [(ngModel)]="workflowRegisterModel.hsbcPersonName" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Integration Manager Name</label>
                  <input [(ngModel)]="workflowRegisterModel.hsbcIntegrationManagerName" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Integration Manager Email</label>
                  <input [(ngModel)]="workflowRegisterModel.hsbcIntegrationManagerEmail" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Mobile</label>
                  <input [(ngModel)]="workflowRegisterModel.hsbcmobileNo" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Date</label>
                      <input [(ngModel)]="workflowRegisterModel.date" type="text" class="form-control" disabled/>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Status</label>
                      <input placeholder="Created" [(ngModel)]="workflowRegisterModel.status" type="text" class="form-control" disabled/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="sub-tab-heading">Assign to Customer</h4>
          <div class="form-container">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Company Name</label>
                  <input [(ngModel)]="workflowRegisterModel.companyName" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Contact Name</label>
                  <input [(ngModel)]="workflowRegisterModel.companyContactName" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Contact Email</label>
                  <input [(ngModel)]="workflowRegisterModel.companyEmail" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Contact Mobile</label>
                  <input [(ngModel)]="workflowRegisterModel.companyContactNo" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Email WF to Customer Contact </label>
                      <select [(ngModel)]="workflowRegisterModel.assignWorkflowToCompanyContact" class="form-control">
                        <option selected [ngValue]=0>Select</option>
                        <option value=1>Yes</option>
                        <option value=2>No</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Authorization Code</label>
                      <input [(ngModel)]="workflowRegisterModel.AuthorizationCode" type="text" class="form-control" disabled/>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div *ngIf="pageStatus != 'view'" class="form-submit-container text-right">
        <div class="form-group">
          <button *ngIf="loaderActive == true" class="btn btn-success" disabled>Please Wait...</button> &nbsp;
          <input *ngIf="loaderActive == false" type="submit" (click)="workflowRegister()" class="btn btn-success" /> &nbsp;
          <input type="submit" class="btn btn-danger" value="Cancel" />
        </div>
      </div>
      <div [ngClass]="{ 'disabled-container' : accessCode == '70' || (saveDeployCheck == '1' && accessCode != '99') }" class="disabled-container">
      </div>
    </div>
  </li>
  <li *ngIf="workflowId != ''">
    <h3 data-toggle="collapse" href="#form-2" class="tab-heading">Requirnment Collection</h3>
    <div class="collapse" id="form-2">
      <div class="row">
        <div class="col-md-6">
          <h4 class="sub-tab-heading">Customer Data</h4>
          <div class="form-container" style="position: relative;">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Customer Name</label>
                  <input [(ngModel)]="customerDataModel.customerName" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Profile ID with Bank</label>
                  <input [(ngModel)]="customerDataModel.profileIdWithBank" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Building Number</label>
                  <input [(ngModel)]="customerDataModel.buildingNo" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="">Town Name</label>
                      <input [(ngModel)]="customerDataModel.townName" type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="">Postal Code</label>
                      <input [(ngModel)]="customerDataModel.postalCode" type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="">Country</label>
                      <select [(ngModel)]="customerDataModel.country" class="form-control">
                        <option selected [ngValue]=0>Select</option>
                        <option value="1">India</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div [ngClass]="{ 'disabled-container' : accessCode == '70' || (saveDeployCheck == '1' && accessCode != '99') }" class="disabled-container">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="sub-tab-heading">Customer Contact</h4>
          <div class="form-container" style="position: relative;">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Contact Name</label>
                  <input [(ngModel)]="customerContatModel.contactName" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Email</label>
                  <input [(ngModel)]="customerContatModel.email" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Mobile No</label>
                  <input [(ngModel)]="customerContatModel.mobileNo" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Phone No</label>
                  <input [(ngModel)]="customerContatModel.phoneNo" type="text" class="form-control" />
                </div>
              </div>

            </div>
            <div [ngClass]="{ 'disabled-container' : accessCode == '70' || (saveDeployCheck == '1' && accessCode != '99') }" class="disabled-container">
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <h4 class="sub-tab-heading">Customer Entities</h4>
          <div class="form-container" style="position: relative;">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Entity Name</label>
                  <input #entityName type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Entity Account Number with Bank </label>
                  <input #entityAccountNo type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Building Number</label>
                  <input #entityBuildingNo type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Town Name</label>
                  <input #entityTownName type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Postal Code</label>
                      <input #entityPostalCode type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Country</label>
                      <select #entityCountry class="form-control">
                        <option selected [ngValue]=0>Select</option>
                        <option value="1">India</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-12" *ngIf="pageStatus != 'view'">
                <div class="form-group text-right">
                  <input (click)="addCustomerEntities(entityName, entityAccountNo, entityBuildingNo, entityTownName, entityPostalCode, entityCountry)"
                    class="btn btn-primary" value="Add Entity" type="submit">
                </div>
              </div>
            </div>
            <div *ngIf="customerEntitiesListModel && customerEntitiesListModel.length != 0" class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Account No</th>
                    <th>Building No</th>
                    <th>Town Name</th>
                    <th>Postal Code</th>
                    <th>Country</th>
                    <th *ngIf="pageStatus != 'view'">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let entity of customerEntitiesListModel; let i = index">
                    <td>{{entity.name}}</td>
                    <td>{{entity.accountNoWithBank}}</td>
                    <td>{{entity.buildingNo}}</td>
                    <td>{{entity.townName}}</td>
                    <td>{{entity.postalCode}}</td>
                    <td>{{entity.country}}</td>
                    <td *ngIf="pageStatus != 'view'">
                      <button (click)="removeEntity(i)" class="btn-danger">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div [ngClass]="{ 'disabled-container' : accessCode == '70' || (saveDeployCheck == '1' && accessCode != '99') }" class="disabled-container">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <h4 class="sub-tab-heading">Customer ERP Details</h4>
              <div class="form-container" style="position: relative;">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="">Customer ERP Name / Version</label>
                      <input [(ngModel)]="customerERPDetailsModel.nameOrVersion" type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="">Any other ERP Details</label>
                      <textarea [(ngModel)]="customerERPDetailsModel.erpDetails" class="form-control" rows="12"></textarea>
                    </div>
                  </div>
                </div>
                <div [ngClass]="{ 'disabled-container' : accessCode == '70' || (saveDeployCheck == '1' && accessCode != '99') }" class="disabled-container">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-12">
          <h4 class="sub-tab-heading">Customer Requiremets</h4>
          <div class="form-container" style="position: relative;">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Input File Mapping</label>
                  <select [(ngModel)]="customerRequirnmentsModel.inputFileMapping" class="form-control">
                    <option selected [ngValue]=0>Select</option>
                    <option value=1>Yes</option>
                    <option value=2>No</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Input File Transformation</label>
                  <select [(ngModel)]="customerRequirnmentsModel.inputfileTransformation" class="form-control">
                    <option selected [ngValue]=0>Select</option>
                    <option value=1>Yes</option>
                    <option value=2>No</option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Input File Type</label>
                  <select [(ngModel)]="customerRequirnmentsModel.inputFileType" class="form-control">
                    <option selected [ngValue]=0>Select</option>
                    <option *ngFor="let inputFileType of inputFileTypeDD" value="{{inputFileType.id}}">
                      {{inputFileType.value}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">File Encryption</label>
                  <select [(ngModel)]="customerRequirnmentsModel.fileEncryption" class="form-control">
                    <option selected [ngValue]=0>Select</option>
                    <option *ngFor="let encryption of encryptionDD" value="{{encryption.id}}">
                      {{encryption.value}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">H2H Encryption</label>
                  <select [(ngModel)]="customerRequirnmentsModel.h2hEncryption" class="form-control">
                    <option selected [ngValue]=0>Select</option>
                    <option *ngFor="let encryption of encryptionDD" value="{{encryption.id}}">
                      {{encryption.value}}
                    </option>
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label for="">Payment Types ( Forward Flow)</label>
                  <select [(ngModel)]="customerRequirnmentsModel.paymentTypesForDForward" class="form-control">
                    <option selected [ngValue]=0>Select</option>
                    <option *ngFor="let paymentType of paymentTypeDD" value="{{paymentType.id}}">
                      {{paymentType.value}}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div [ngClass]="{ 'disabled-container' : accessCode == '70' || (saveDeployCheck == '1' && accessCode != '99') }" class="disabled-container">
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <h4 class="sub-tab-heading">Installation Machine Details-- UAT/ Test</h4>
          <div class="form-container" style="position: relative;">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Where will SysBRIJ be installed</label>
                  <select [(ngModel)]="installationMachineDetailsUATModel.whereSysbrijWillInstalled" class="form-control">
                    <option selected [ngValue]=0>Select</option>
                    <option value="1">Windows</option>
                    <option value="2">Server</option>
                    <option value="3">Laptop</option>
                    <option value="4">Desktop</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">How Many installations needed?</label>
                  <input [(ngModel)]="installationMachineDetailsUATModel.noOfInstallation" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Server Type</label>
                  <select [(ngModel)]="installationMachineDetailsUATModel.serverType" class="form-control">
                    <option selected [ngValue]=0>Select</option>
                    <option value="1">Windows</option>
                    <option value="2">Linux</option>
                    <option value="3">NA</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">IP Address - Public/ Private</label>
                  <input [(ngModel)]="installationMachineDetailsUATModel.ipAddress" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Server OS Version</label>
                  <input [(ngModel)]="installationMachineDetailsUATModel.serverOsVersion" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Is this Machine connected to Bank System?</label>
                  <select [(ngModel)]="installationMachineDetailsUATModel.isMachineConnectedToBankSystem" class="form-control">
                    <option selected [ngValue]=0>Select</option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                    <option value="3">NA</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Input File Folder Path</label>
                  <input [(ngModel)]="installationMachineDetailsUATModel.inputFileFolderPath" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Input File Folder Name</label>
                  <input [(ngModel)]="installationMachineDetailsUATModel.inputFileFolderName" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Is This machine Internet Enabled</label>
                  <select [(ngModel)]="installationMachineDetailsUATModel.isMachineInternateEnabled" class="form-control">
                    <option selected [ngValue]=0>Select</option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                    <option value="3">NA</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Does It have any firewall restrictions?</label>
                  <select [(ngModel)]="installationMachineDetailsUATModel.anyFirewallRestriction" class="form-control">
                    <option selected [ngValue]=0>Select</option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                    <option value="3">NA</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">If YES, then specify</label>
                  <textarea [(ngModel)]="installationMachineDetailsUATModel.firewallRestrictionDetails" class="form-control" rows="3"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Can we install software remotely on this m/c?</label>
                  <select [(ngModel)]="installationMachineDetailsUATModel.installSoftwareRemotely" class="form-control">
                    <option selected [ngValue]=0>Select</option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                    <option value="3">NA</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Remote Access Method</label>
                  <textarea [(ngModel)]="installationMachineDetailsUATModel.remoteAccessMethod" class="form-control" rows="3"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Specify any Other </label>
                  <textarea [(ngModel)]="installationMachineDetailsUATModel.moreDetails" class="form-control" rows="3"></textarea>
                </div>
              </div>
            </div>
            <div [ngClass]="{ 'disabled-container' : accessCode == '70' || (saveDeployCheck == '1' && accessCode != '99') }" class="disabled-container">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="sub-tab-heading">Installation Machine Details-- Production</h4>
          <div class="form-container" style="position: relative;">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Where will SysBRIJ be installed</label>
                  <select [(ngModel)]="installationMachineDetailsProductionModel.whereSysbrijWillInstalled" class="form-control">
                    <option selected [ngValue]=0>Select</option>
                    <option value="1">Windows</option>
                    <option value="2">Server</option>
                    <option value="3">Laptop</option>
                    <option value="4">Desktop</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">How Many installations needed?</label>
                  <input [(ngModel)]="installationMachineDetailsProductionModel.noOfInstallation" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Server Type</label>
                  <select [(ngModel)]="installationMachineDetailsProductionModel.serverType" class="form-control">
                    <option selected [ngValue]=0>Select</option>
                    <option value="1">Windows</option>
                    <option value="2">Linux</option>
                    <option value="3">NA</option>
                  </select>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">IP Address - Public/ Private</label>
                  <input [(ngModel)]="installationMachineDetailsProductionModel.ipAddress" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Server OS Version</label>
                  <input [(ngModel)]="installationMachineDetailsProductionModel.serverOsVersion" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Is this Machine connected to Bank System?</label>
                  <select [(ngModel)]="installationMachineDetailsProductionModel.isMachineConnectedToBankSystem" class="form-control">
                    <option selected [ngValue]=0>Select</option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                    <option value="3">NA</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Input File Folder Path</label>
                  <input [(ngModel)]="installationMachineDetailsProductionModel.inputFileFolderPath" type="text" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Input File Folder Name</label>
                  <input [(ngModel)]="installationMachineDetailsProductionModel.inputFileFolderName" type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label for="">Is This machine Internet Enabled</label>
                  <select [(ngModel)]="installationMachineDetailsProductionModel.isMachineInternateEnabled" class="form-control">
                    <option selected [ngValue]=0>Select</option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                    <option value="3">NA</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Does It have any firewall restrictions?</label>
                  <select [(ngModel)]="installationMachineDetailsProductionModel.anyFirewallRestriction" class="form-control">
                    <option selected [ngValue]=0>Select</option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                    <option value="3">NA</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">If YES, then specify</label>
                  <textarea [(ngModel)]="installationMachineDetailsProductionModel.firewallRestrictionDetails" class="form-control" rows="3"></textarea>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Can we install software remotely on this m/c?</label>
                  <select [(ngModel)]="installationMachineDetailsProductionModel.installSoftwareRemotely" class="form-control">
                    <option selected [ngValue]=0>Select</option>
                    <option value="1">Yes</option>
                    <option value="2">No</option>
                    <option value="3">NA</option>
                  </select>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Remote Access Method</label>
                  <textarea [(ngModel)]="installationMachineDetailsProductionModel.remoteAccessMethod" class="form-control" rows="3"></textarea>
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Specify any Other </label>
                  <textarea [(ngModel)]="installationMachineDetailsProductionModel.moreDetails" class="form-control" rows="3"></textarea>
                </div>
              </div>
            </div>
            <div [ngClass]="{ 'disabled-container' : accessCode == '70' || (saveDeployCheck == '1' && accessCode != '99') }" class="disabled-container">
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <h4 class="sub-tab-heading">SysBRIJ User List</h4>
          <div class="form-container" style="position: relative;">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Name</label>
                  <input #userName type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Email</label>
                  <input #userEmail type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Address</label>
                  <input #userAddress type="text" class="form-control" />
                </div>
              </div>
              <div class="col-md-12">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Mobile</label>
                      <input #userMobile type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="">Role</label>
                      <select #userRole class="form-control">
                        <option selected [ngValue]=0>Select</option>
                        <option value="1">Admin</option>
                      </select>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngIf="pageStatus != 'view'" class="col-md-12">
                <div class="form-group text-right">
                  <input type="submit" (click)="addSysbrijUser(userName, userEmail, userAddress, userMobile, userRole)" class="btn btn-primary"
                    value="Add User" />
                </div>
              </div>
            </div>
            <div *ngIf="sysbrijUserListModel && sysbrijUserListModel.length != 0" class="table-responsive">
              <table class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Address</th>
                    <th>Mobile</th>
                    <th>Role</th>
                    <th *ngIf="pageStatus != 'view'">Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let user of sysbrijUserListModel; let i = index">
                    <td>{{user.name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.address}}</td>
                    <td>{{user.mobile}}</td>
                    <td>{{user.role}}</td>
                    <td *ngIf="pageStatus != 'view'">
                      <button (click)="removeUser(i)" class="btn-danger">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div [ngClass]="{ 'disabled-container' : accessCode == '70' || (saveDeployCheck == '1' && accessCode != '99') }" class="disabled-container">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="row">
            <div class="col-md-12">
              <h4 class="sub-tab-heading">Sender Email Data</h4>
              <div class="form-container" style="position: relative;">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="">Email ID</label>
                      <input [(ngModel)]="senderEmailDataModel.emailId" type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="">Email Password</label>
                      <input [(ngModel)]="senderEmailDataModel.emailPassword" type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="">SMTP Host</label>
                      <input [(ngModel)]="senderEmailDataModel.smtpHost" type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="">SMTP Port</label>
                      <input [(ngModel)]="senderEmailDataModel.smtpPort" type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <label for="">Receiver Emails</label>
                      <input [(ngModel)]="senderEmailDataModel.receiverEmail" type="text" class="form-control" />
                    </div>
                  </div>
                </div>
                <div [ngClass]="{ 'disabled-container' : accessCode == '70' || (saveDeployCheck == '1' && accessCode != '99') }" class="disabled-container">
                </div>
              </div>
            </div>
          </div>
          <br>
          <div class="row">
            <div class="col-md-12">
              <h4 class="sub-tab-heading">Batch Job Details</h4>
              <div class="form-container" style="position: relative;">
                <div class="row">
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="">Batch Jobs Frequency</label>
                      <input [(ngModel)]="batchJobDetailsModel.frequency" type="text" class="form-control" />
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="">Can vendor Setup Batch jobs on yoursever?</label>
                      <select [(ngModel)]="batchJobDetailsModel.setupBatchJobOnYourServer" class="form-control">
                        <option selected [ngValue]=0>Select</option>
                        <option value="1">Yes</option>
                        <option value="2">No</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div [ngClass]="{ 'disabled-container' : accessCode == '70' || (saveDeployCheck == '1' && accessCode != '99') }" class="disabled-container">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-6">
          <h4 class="sub-tab-heading">Current Status / Notes</h4>
          <div class="form-container">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="">Current Status / Notes</label>
                  <textarea [(ngModel)]="workflowFormModel.workflowStatusNotes" class="form-control" rows="5"></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <h4 class="sub-tab-heading">Workflow Log</h4>
          <div class="form-container">
            <table class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>Notes</th>
                  <th>Date</th>
                  <th>User</th>
                  <th>Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let log of workflowHistory">
                  <td>{{log.Notes}}</td>
                  <td>{{log.date}}</td>
                  <td>{{log.user}}</td>
                  <td>{{log.workflowStatus}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <br>
      <div *ngIf="pageStatus != 'view'" class="form-submit-container text-right">
        <div class="form-group">
          <button *ngIf="loaderActiveSaveOnly == true" class="btn btn-success" disabled>Please Wait...</button> &nbsp;
          <input *ngIf="loaderActiveSaveOnly != true" type="submit" (click)="workflowSaveOnly()" value="Save Only" class="btn btn-success"
          /> &nbsp;
          <button *ngIf="loaderActiveSaveDeploy == true" class="btn btn-primary" disabled>Please Wait...</button> &nbsp;
          <input *ngIf="loaderActiveSaveDeploy != true" type="submit" (click)="workflowSaveDeploy()" value="Submit to Deploy" class="btn btn-primary"
            [disabled]=saveDeployButtonCheck() />
        </div>
      </div>
    </div>
  </li>
  <li *ngIf="accessCode == '99' && workflowId != ''">
    <h3 data-toggle="collapse" href="#form-3" class="tab-heading">Deployment Section</h3>
    <div class="collapse" id="form-3">
      <div class="form-container">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group">
              <label for="">Workflow Status</label>
              <select [(ngModel)]="deploymentModel.workflowStatusId" class="form-control">
                <option selected [ngValue]=0>Select</option>
                <option *ngFor="let workflow of workflowStatusDD" value="{{workflow.id}}">
                  {{workflow.value}}
                </option>
              </select>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="">Assign To</label>
              <div class="ng-autocomplete" style="width: 100%">
                <ng-autocomplete [data]="companyUserAutocompleteDD"  [initialValue]="initialValue" [searchKeyword]="keyword" (selected)='selectEvent($event)' [itemTemplate]="itemTemplate"
                  [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>
                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.name"></a>
                </ng-template>
                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="">Name</label>
              <input [(ngModel)]="assignToName" type="text" class="form-control" disabled>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group">
              <label for="">Email</label>
              <input [(ngModel)]="assignToEmail" type="text" class="form-control" disabled>
            </div>
          </div>
        </div>
        <div *ngIf="pageStatus != 'view'" class="form-submit-container text-right">
          <div class="form-group">
            <input *ngIf="loaderActiveSave == false" (click)="deploymentWorkflow()" type="submit" value="Save" class="btn btn-success" />
            <button *ngIf="loaderActiveSave == true" class="btn btn-success" disabled>Please Wait...</button> &nbsp;
          </div>
        </div>
      </div>
    </div>
  </li>
</ul>

<!-- Modal -->
<div id="customerDataDetails" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
  
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Modal Header</h4>
        </div>
        <div class="modal-body">
          <p>Some text in the modal.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
  
    </div>
  </div>