/* You can add global styles to this file, and also import other style files */
body {
    background: #c5c5c5;
    overflow-x: hidden;
}

ul { padding: 0 }

ul, li {
    list-style-type: none;
}

.page-title {
    margin: 15px 0 30px 0;
    font-size: 25px;
}

.report-list-container {
    background: #fff;
}

.tab-heading {
    margin: 0 0 10px 0;
    background: #222222;
    padding: 7px 10px;
    font-size: 18px;
    color: #fff;
    cursor: pointer;
}

.form-container {
    padding: 15px;
    background: white;
}

.sub-tab-heading {
    padding: 8px;
    margin: 0;
    background: #5a5a5a;
    color: #fff;
    font-size: 16px;
}

.disabled-container {
    background: #fff;
    opacity: .3;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn-info {
    position: absolute;
    font-size: 13px;
    top: 6px;
    right: 20px;
}